<sabedb:include id="common.topdefault" />

<div id="mainbox">

<sabedb:include id="common.menudefault" />

<h1 class="sectionheading"><sabedb:content id="title" /></h1>

<p class="feature">
<sabedb:content id="text" />
</p>

<form method="post" action="<sabedb:snippet id="site.currentlanguagecode.slash" />/contact/send">

<fieldset>
<span><sabedb:content id="formlegend_name" /></span>
<input type="text" name="name" value="" autofocus />
</fieldset>

<fieldset>
<span><sabedb:content id="formlegend_email" /></span>
<input type="email" name="email" value="" />
</fieldset>

<fieldset>
<span><sabedb:content id="formlegend_message" /></span>
<textarea name="message">
</textarea>
</fieldset>

<fieldset>
<input type="submit" value="<sabedb:content id="formlegend_submit" />">
</fieldset>

</form>

</div>

<sabedb:include id="common.bottomdefault" />
