<sabedb:include id="common.topdefault" />

<div id="mainbox">

<div id="maintopbox">

<div id="logobox_single">
</div>

<ul id="mainmenubox">
<sabedb:snippet id="menu.menutop" />
</ul>

<div id="flagbox">
<a href="<sabedb:snippet id="site.languagelink.nor" />"><img alt="Norsk" src="/images/flag-no.png" width="16" height="11" /></a>
<a href="<sabedb:snippet id="site.languagelink.eng" />"><img alt="American English" src="/images/flag-us.png" width="16" height="11" /></a>
</div>

</div>

<div id="logobox">
<img alt="Anndi Bergset Creatives" src="/images/logo-abc.png" width="178" height="170" />
<h1 class="frontpage">Anndi Bergset Creatives</h1>
</div>

<div id="frontpatchbox">
<div id="fpb_back"></div>
<div id="fpb_content">

<sabedb:snippet id="menu.menufront" />

</div>
</div>

</div>

<sabedb:include id="common.bottomdefault" />
