<div id="maintopbox">

<div id="logobox_single">
<img alt="Anndi Bergset Creatives" src="/images/logo-abc-single-small.png" width="60" height="57" />
</div>

<ul id="mainmenubox">
<sabedb:snippet id="menu.menutop" />
</ul>

<div id="flagbox">
<a href="<sabedb:snippet id="site.languagelink.nor" />"><img alt="Norsk" src="/images/flag-no.png" width="16" height="11" /></a>
<a href="<sabedb:snippet id="site.languagelink.eng" />"><img alt="American English" src="/images/flag-us.png" width="16" height="11" /></a>
</div>

</div>
