<sabedb:include id="common.topdefault" />

<div id="mainbox">

<sabedb:include id="common.menudefault" />

<h1 class="sectionheading"><sabedb:content id="title" /></h1>
<div class="sectionheadingart sectionheadingart_baking">
<img alt="" src="/images/section-title-art-baking.png" width="727" height="250"/>
</div>

<div class="sitepicturebox">
<div class="content">

<div class="pictureboard">
<div class="heading">
<h2><sabedb:content id="title" /></h2>
</div>

<div class="pictureslider">

<sabedb:snippet id="product.productgroup.baking" />

</div>

</div>


</div>
</div>

</div>

<sabedb:include id="common.bottomdefault" />
