<div class="product-item">

<div class="thumbs">
<sabedb:snippet id="product.thumbs" />
</div>

<div class="image">
<sabedb:snippet id="product.mainimage" />
</div>

<h2><sabedb:content id="title" /></h2>
<div class="content">
<sabedb:content id="text" />
</div>

<div class="switchimage">
<a href="" class="previousimage">&lt;</a> | <a href="" class="nextimage">&gt;</a> 
</div>


<div class="navigate">
<a href="<sabedb:content id="languagecode" />/product/<sabedb:content id="previous" />" class="previous"><sabedb:content id="textprev" /></a> | <a href="<sabedb:content id="languagecode" />/product/<sabedb:content id="next" />" class="next"><sabedb:content id="textnext" /></a> 
</div>

</div>
