<sabedb:include id="common.topdefault" />

<div id="mainbox">

<sabedb:include id="common.menudefault" />

<h1 class="sectionheading"><sabedb:content id="title" /></h1>
<div class="sectionheadingart sectionheadingart_graphicdesign">
<img alt="" src="/images/section-title-art-graphicdesign<sabedb:snippet id="site.currentlanguagecode.prebar" />.png" width="512" height="140"/>
</div>

<div class="sitepicturebox">
<div class="content">

<div class="pictureboard">
<div class="heading">
<h2><sabedb:content id="title" /></h2>
</div>

<div class="pictureslider">

<sabedb:snippet id="product.productgroup.graphicdesign" />

</div>

</div>


</div>
</div>

</div>

<sabedb:include id="common.bottomdefault" />
