<sabedb:include id="common.topdefault" />

<div id="mainbox">

<sabedb:include id="common.menudefault" />

<h1 class="sectionheading"><sabedb:content id="title" /></h1>
<div class="sectionheadingart sectionheadingart_interiordesign">
<img alt="" src="/images/section-title-art-interiordesign.png" width="651" height="174"/>
</div>

<div class="feature">
<sabedb:content id="text" />
</div>

<div class="sitepicturebox">
<div class="content">

<div class="pictureboard">
<div class="heading">
<h2><sabedb:content id="title" /></h2>
</div>

<div class="pictureslider">

<sabedb:snippet id="product.productgroup.interiordesign" />

</div>

</div>


</div>
</div>

</div>

<sabedb:include id="common.bottomdefault" />
