<sabedb:include id="common.topdefault" />

<div id="mainbox">

<sabedb:include id="common.menudefault" />

<h1 class="sectionheading"><sabedb:content id="title" /></h1>
<div class="sectionheadingart sectionheadingart_paint">
<img alt="" src="/images/section-title-art-paintandneedlework.png" width="512" height="44"/>
</div>

<div class="feature">
<sabedb:content id="text" />
</div>

<div class="sitepicturebox">
<div class="content">

<div class="pictureboard">
<div class="heading">
<h2><sabedb:content id="titlepaint" /></h2>
</div>

<div class="pictureslider">

<sabedb:snippet id="product.productgroup.paint" />

</div>

</div>

<div class="pictureboard">
<div class="heading">
<h2><sabedb:content id="titlefiberart" /></h2>
</div>

<div class="pictureslider">

<sabedb:snippet id="product.productgroup.fiberart" />

</div>

</div>

</div>
</div>

</div>

<sabedb:include id="common.bottomdefault" />
